.experience-item-container {
  border: 1px solid var(--blue-color);
  border-radius: 15px;
  padding: 20px;
  transition: all .2s ease-in;
}

.experience-item-container:hover {
  border: 1px solid var(--blue-color);
  border-radius: 15px;
  padding: 20px;
  transform: scale(1.02);
}
