.about-section {
  background-image: url(../../../assets/pages/About/bgAbout.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--dark-blue-color);
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
