.projects-section {
  background-image: url(../../../assets/pages/Projects/background.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--dark-blue-color);
  padding-bottom: 9rem;
}
