.header {
  background-color: var(--dark-blue-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.header-menu {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
    }

    li:not(:last-child) {
      margin-right: 1.5rem;
    }

    li.active {
      color: var(--blue-color);
    }
  }
}

.lang-cv-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1025px) {
  .header-menu {
    display: none;
  }

  .lang-cv-container {
    display: none;
  }
}
