.skills-section {
  background-color: var(--dark-blue-color);
  padding-bottom: 5rem;
}

.two-line-title {
  line-height: 5rem;

  span:last-child {
    margin-left: 15rem;
  }
}

@media only screen and (max-width: 1025px) {
  .two-line-title {
    span:last-child {
      margin-left: 0;
    }
  }
}
