.home-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: absolute;
    padding: 10px;
    border-bottom: 1px solid var(--blue-color);
    transition: all .3s ease-in;
    cursor: pointer;
  }

  li:hover {
    transform: scale(1.1);
    padding: 10px 25px;
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  .home-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: fit-content;
      position: static;
    }
  }
}
