.home-section {
  height: 100vh;
  background-image: url('../../../assets/pages/Home/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cv-button-container {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
