.home-section {
  position: relative;
  height: 100vh;
  background-image: url('../../../assets/pages/Home/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-container {
  position: absolute;
  width: fit-content;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -35%);
}

.cv-button-container {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  .home-section {
    height: auto;
    padding-bottom: 4rem;
  }

  .title-container {
    // top: 45%;
    // transform: translate(-50%, -45%);
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translate(0, 0);
    margin-top: 4rem;
  }

  .cv-button-container {
    margin-top: 4rem;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
